.shop-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  color: #FFF;
  font-family: Rubik, sans-serif;
}

.big-insight-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 740px;
  height: 375px;
  padding: 28px 40px;
  gap: 10px;
  flex-shrink: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), var(--insight-background, linear-gradient(#2ee6c3, #3c4dff, #a259ff));
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.big-insight-card .insight-tag {
  width: 120px;
  height: 33px;
}

.big-insight-card h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.big-insight-card p {
  margin-top: 20px;
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
}

.unlock-btn {
  margin-top: auto;
  display: flex;
  width: 115px;
  height: 49px;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  background: #FFF;
  border: none;
  border-bottom: 4px solid #9B91B9;
  cursor: pointer;
}

.big-insight-card .bear {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 222px;
  height: 222px;
}

.offers-container {
  display: flex;
  width: 740px;
  flex-direction: column;
  align-items: flex-start;
}

.offers-container h3 {
  margin: 0 0 32px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
}

.offer-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer-info {
  display: flex;
  align-items: center;
}

.offer-info img.icon {
  width: 102px;
  height: 96px;
  margin-right: 58px;
}

.offer-text {
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
}

.offer-text p {
  margin: 0;
}

.offer-btn {
  display: flex;
  width: 261px;
  height: 66px;
  padding: 15px 40px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid var(--Glacier-Blue, #71B4D4);
  background: var(--Polar-Navy, #0F2038);
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
}

.offer-btn .coin-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.offer-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.offers-divider {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
  height: 2px;
  background-color: #71B4D4;
}
