/* =========================================================================================================================================================================== */
/* ================================================================================== Basics ================================================================================= */
/* =========================================================================================================================================================================== */

@import "tailwindcss";

@font-face {
    font-family: "Atma";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Atma-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/Rubik-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/Rubik-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url(".../assets/fonts/Rubik-ExtraBold.ttf") format("truetype");
}

:root {
    --frost-blue: #b4deff;
    --ice-white: #f5faff;
    --glacier-blue: #71b4d4;
    --steel-blue: #466984;
    --polar-navy: #0f2038;
    --yellow: #ffd500;
    --peach: #ff6b6b;
    --mint: #2ee6c3;
    --purple: #a259ff;
    --orange: #ff7a00;
    --white: #ffffff;
    --gray: #37464f;

    --background: var(--polar-navy);
    --text-color-light: var(--white);
    --text-color-dark: var(--polar-navy);

    --navbar-border-color: var(var(--ice-white));
    --nav-title-color: var(--frost-blue);
    --nav-btn-border-color: var(--polar-navy);
    --nav-btn-border-color-active: var(--glacier-blue);
    --nav-btn-border-color-hover: rgba(255, 255, 255, 0.01);
    --nav-btn-background-hover: rgba(255, 255, 255, 0.17);

    --guidebook-btn-border-color: rgba(15, 32, 56, 0.63);

    --unit-title-element-color: var(--gray);

    --level-btn-background: var(--gray);
    --level-btn-shadow: #2c383f;
    --level-btn-item: #52656d;

    --level-btn-background-active: var(--glacier-blue);
    --level-btn-shadow-active: var(--steel-blue);
    --level-btn-item-active: var(--steel-blue);

    --insight-background: linear-gradient(#2ee6c3, #3c4dff, #a259ff);
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    background-color: var(--background);
    color: var(--text-color-light);
    letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    padding: 10px 60px;
    font-size: 24px;
    border-radius: 15px;
    border-width: 2px 2px 5px 2px;
    border-style: solid;
}

/* .progress-bar {
    display: flex;
    position: relative;
    width: 50%;
    height: 20px;
}

.bar {
    display: inline;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(204, 217, 221);
    border-radius: 50px;
}

.progress {
    display: inline;
    position: absolute;
    height: 100%;
    background-color: lightblue;
    border-radius: 50px;
    transition: width 0.3s ease-in-out;
} */

/* .footer {
    display: flex;
    width: 80%;
    height: 20%;
    justify-content: space-between;
} */

.secondary-btn {
    background-color: #ffffff;
    border-color: #71b4d4;
    color: #466984;
}

.primary-btn {
    background-color: #b4deff;
    border-color: #71b4d4;
    color: #0f2038;
}

.password-field {
    display: flex;
    height: 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.flex {
    display: flex;
}

.button {
    display: flex;
    width: 230px;
    height: 60px;
    padding: 20px 211px;
    border-radius: 15px;
    border: 2px solid var(--Glacier-Blue, #71b4d4);
    box-shadow: 1px 4px 1px 0px #71b4d4;
    background: var(--Ice-White, #f5faff);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hidden {
    display: none !important;
}

.collapsed {
    opacity: 0 !important;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    justify-content: end;
}

.header-item {
    margin: 20px;
}

.grid-container {
    --grid-background: none;
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 320px 5fr 3fr;
    background: var(--grid-background);
}

/* =========================================================================================================================================================================== */
/* ============================================================================== Navigation Bar ============================================================================= */
/* =========================================================================================================================================================================== */

.navbar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
    border-right: 1px solid var(--ice-white);
    background-color: var(--polar-navy);
}

.nav-title {
    margin-top: 8px;
    margin-left: 51px;
    font-size: 48px;
    line-height: normal;
    font-family: "Atma", sans-serif;
    color: var(--nav-title-color);
}

.nav-btn {
    display: flex;
    width: 277px;
    height: 63px;
    margin: 4px;
    align-self: center;
    align-items: center;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px;
    border-width: 2px;
    border-color: var(--nav-btn-border-color);
    box-sizing: border-box;
}

.nav-btn:hover {
    border-color: var(--nav-btn-border-color-hover);
    background-color: var(--nav-btn-background-hover);
}

.nav-btn-selected {
    border-color: var(--nav-btn-border-color-active);
}

.nav-icon {
    margin-left: 19px;
    margin-right: 24px;
    width: 52px;
}

/* =========================================================================================================================================================================== */
/* ============================================================================= Unit Header Card ============================================================================ */
/* =========================================================================================================================================================================== */

.unit-header-card__container {
    position: sticky;
    top: 0px;
    z-index: 2;
}

.unit-header-card__shadow {
    height: 32px;
    background-color: var(--background);
}

.unit-header-card {
    width: 744px;
    height: 171px;
    overflow: hidden;
    background-color: var(--mint);
    color: var(--text-color-dark);
    border-radius: 20px;
}

.current-path {
    display: flex;
    margin-top: 32px;
    margin-left: 28px;
    align-items: center;
}

.current-path__icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    opacity: 79%;
}

.current-path__title {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 79%;
}

.unit-header {
    display: flex;
    margin-top: 8px;
    margin-left: 28px;
    margin-right: 34px;
    justify-content: space-between;
}

.unit-header__title {
    width: 371px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
}

.unit-header__guidebook-btn {
    display: flex;
    width: 186px;
    height: 80px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 21px;
    border-width: 2px 2px 5px 2px;
    border-style: solid;
    border-color: var(--guidebook-btn-border-color);
}

.guidebook-btn__icon {
    width: 40px;
    height: 40px;
}

.guidebook-btn__title {
    font-size: 20px;
    font-weight: 600;
}

/* =========================================================================================================================================================================== */
/* ================================================================================ Unit Title =============================================================================== */
/* =========================================================================================================================================================================== */

.unit-container {
    position: relative;
    top: -82px;
}

.unit-title-container {
    display: flex;
    margin-top: 58px;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.unit-title-container__hr {
    flex: 1;
    height: 3px;
    border: none;
    background-color: var(--unit-title-element-color);
    margin: 0 auto;
}

.unit-title-container__h2 {
    font-size: 20px;
    text-align: center;
    color: var(--unit-title-element-color);
    text-transform: uppercase;
    text-wrap: nowrap;
    line-height: 24px;
}

/* =========================================================================================================================================================================== */
/* =============================================================================== Level Button ============================================================================== */
/* =========================================================================================================================================================================== */

.level-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level-btn {
    position: relative;
    left: 0px;
    display: flex;
    width: 87px;
    height: 81px;
    margin-top: 28px;
    z-index: 1;
}

.level-btn-top {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 87px;
    height: 72px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--level-btn-background);
    box-shadow: 0 9px var(--level-btn-shadow);
    cursor: pointer;
}

.level-btn-top-active {
    background-color: var(--level-btn-background-active);
    box-shadow: 0 9px var(--level-btn-shadow-active);
}

.level-btn-top:hover {
    top: 2px;
    box-shadow: 0 7px var(--level-btn-shadow);
}

.level-btn-top-active:hover {
    background-color: var(--level-btn-background-active);
    box-shadow: 0 7px var(--level-btn-shadow-active);
}

.level-btn-top:active {
    top: 9px;
    box-shadow: none;
}

.level-btn-lighting {
    position: absolute;
    width: 72px;
    height: 62px;
}

.level-btn-icon {
    min-width: 45px;
    min-height: 31px;
    max-width: 60px;
    max-height: 48px;
    z-index: 1;
}

.level-btn-icon {
    min-width: 45px;
    min-height: 31px;
    max-width: 60px;
    max-height: 48px;
}

/* =========================================================================================================================================================================== */
/* ================================================================================ Level Card =============================================================================== */
/* =========================================================================================================================================================================== */

.level-content {
    position: absolute;
    width: 320px;
    height: 150px;
    z-index: 2;
}

/* =========================================================================================================================================================================== */
/* =============================================================================== Chest Button ============================================================================== */
/* =========================================================================================================================================================================== */

.chest-btn {
    display: flex;
    align-items: end;
    position: relative;
    left: 0px;
    width: 100px;
    height: 83px;
    margin-top: 42px;
    z-index: 1;
}

.chest-active {
    cursor: pointer;
}

/* =========================================================================================================================================================================== */
/* ================================================================================== Sidebar ================================================================================ */
/* =========================================================================================================================================================================== */

.sidebar-top {
    width: 475px;
    position: sticky;
    padding-top: 32px;
    top: 32px;
    align-self: flex-start;
}

.sidebar {
    width: 100%;
    height: 100%;
    position: sticky;
    bottom: 0;
    align-self: flex-end;
}

/* =========================================================================================================================================================================== */
/* ================================================================================= Statistic =============================================================================== */
/* =========================================================================================================================================================================== */

.stats {
    display: flex;
    justify-content: space-evenly;
}

.stats-item {
    display: flex;
    align-items: center;
}

.stats-icon {
    width: 35px;
}

.stats-value {
    margin-left: 16px;
    font-size: 16px;
    font-weight: 700;
    color: #71b4d4;
}

.heart {
    color: #f44336;
}

/* =========================================================================================================================================================================== */
/* =================================================================================== Cards ================================================================================= */
/* =========================================================================================================================================================================== */

.card-container {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    gap: 24px;
}

/* =========================================================================================================================================================================== */
/* =============================================================================== Insight Card ============================================================================== */
/* =========================================================================================================================================================================== */

.insight-card,
.leaderboard-card,
.daily-quests-card,
.what-are-leaderboards-card {
    border: 1px solid var(--glacier-blue);
    border-radius: 20px;
    padding: 25px;
    padding-top: 29px;
    padding-bottom: 29px;
}

.insight-card__block {
    display: flex;
}

.insight-card__img {
    width: 120px;
    height: 33px;
    margin-bottom: 11px;
}

.insight-card__bear-img {
    width: 112px;
    height: 131px;
    margin-top: 16px;
}

.insight-card__title,
.leaderboard-card__title {
    font-size: 24px;
    font-weight: 700;
}

.insight-card__info {
    font-size: 20px;
}

.insight-btn {
    width: 100%;
    height: 70px;
    margin: 0;
    margin-top: 5px;
    background-color: #3c4dff;
    border: none;
    border-bottom: 4px solid #3f22ec;
    border-radius: 13px;
    color: var(--ice-white);
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

/* =========================================================================================================================================================================== */
/* ============================================================================= Leaderboard Card ============================================================================ */
/* =========================================================================================================================================================================== */

.leaderboard-inactive-card__content {
    display: flex;
    margin-top: 44px;
}

.leaderboard-card__block {
    display: flex;
    align-items: center;
}

.leaderboard-card__content {
    margin-bottom: 32px;
    align-items: center;
}

.leaderboard-card__rank {
    color: var(--glacier-blue);
}

.leaderboard-card__league-title {
    margin-bottom: 12px;
    color: #466984;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.leaderboard-inactive-card__img {
    width: 56px;
    height: 62px;
    margin-right: 24px;
}

.leaderboard-card__badge-img {
    position: relative;
    width: 102px;
    height: 112px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 32px;
}

.leaderboard-card__info {
    width: 277px;
    font-size: 20px;
}

.leaderboard-card__btn {
    width: 100%;
    height: 84px;
    margin-bottom: 32px;
    border: 1px solid #71b4d4;
    border-bottom-width: 5px;
    border-radius: 13px;
    color: #71b4d4;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

/* =========================================================================================================================================================================== */
/* ============================================================================ Daily Quests Card ============================================================================ */
/* =========================================================================================================================================================================== */

.daily-quests-card {
    padding-bottom: 7px;
}

.daily-quests-card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}

.daily-quests-card__title {
    font-size: 24px;
    font-weight: 600;
}

.daily-quests-card__view-all {
    font-size: 16px;
    font-weight: 600;
    color: var(--glacier-blue);
    text-transform: uppercase;
}

.daily-quest,
.daily-quest-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.daily-quest__title,
.daily-quest-card__title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.daily-quest__img {
    width: 50px;
    height: 66px;
}

.daily-quest__progress-container {
    display: flex;
    margin-top: 12px;
    margin-bottom: 24px;
    align-items: center;
}

.daily-quest__progress-field {
    position: relative;
    width: 300px;
    height: 20px;
    --progress: 0%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #2f3b4d;
}

.daily-quest__progress,
.daily-quest-card__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--progress);
    height: 100%;
    border-radius: 50px;
    background-color: #fef400;
    z-index: 0;
}

.daily-quest__progress-info,
.daily-quest-card__progress-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translateX(-50%); */
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    white-space: nowrap;
    pointer-events: none;
}

.daily-quest__progress-info--empty,
.daily-quest-card__progress-info--empty {
    color: #969ca1;
    z-index: 1;
}

.daily-quest__progress-info--filled,
.daily-quest-card__progress-info--filled {
    color: #aa572a;
    z-index: 2;
    -webkit-clip-path: inset(0 calc(100% - var(--progress)) 0 0 round 50px);
    clip-path: inset(0 calc(100% - var(--progress)) 0 0 round 50px);
}

.daily-quest__reward-img,
.daily-quest-card__reward-img {
    width: 43px;
    height: 47px;
    z-index: 1;
}

/* =========================================================================================================================================================================== */
/* ============================================================================= Ad Blocker Card ============================================================================= */
/* =========================================================================================================================================================================== */

.adblocker-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), var(--insight-background);
    border-radius: 20px;
    padding: 24px;
    padding-top: 0px;
}

.adblocker-card__img {
    width: 189px;
    height: 130px;
    margin-bottom: 15px;
}

.adblocker-card__title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.adblocker-card__info {
    width: 368px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 32px;
}

.insight-primary-btn {
    width: 100%;
    height: 70px;
    font-size: 24px;
    font-weight: 700;
    color: var(--polar-navy);
    border: none;
    border-bottom: 4px solid #b4deff;
    border-radius: 13px;
    background-color: var(--ice-white);
    margin-bottom: 28px;
    cursor: pointer;
}

.insight-secondary-btn {
    margin: 0;
    margin-bottom: 6px;
    height: 24px;
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
    border: none;
    cursor: pointer;
}

/* =========================================================================================================================================================================== */
/* ================================================================================= Info Card =============================================================================== */
/* =========================================================================================================================================================================== */

.info-card {
    display: flex;
    margin-bottom: 32px;
    justify-content: center;
    gap: 16;
}

.info-card__link {
    margin-left: 8px;
    margin-right: 8px;
    color: var(--steel-blue);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

/* =========================================================================================================================================================================== */
/* =============================================================================== Profile Page ============================================================================== */
/* =========================================================================================================================================================================== */

.profile-block {
    margin-top: 48px;
    width: 598px;
}

.profile-image {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.profile-content {
    margin-top: 24px;
}

.profile-nickname {
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.profile-created-at {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.profile-divider {
    height: 2px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: none;
    border-radius: 4px;
    background-color: var(--glacier-blue);
}

.profile-statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px 8px;
    margin-top: 16px;
    margin-bottom: 24px;
}

/* =========================================================================================================================================================================== */
/* ============================================================================== Category Block ============================================================================= */
/* =========================================================================================================================================================================== */

.category-block {
    display: flex;
    margin-top: 12px;
    align-items: center;
    justify-content: space-between;
}

.category-title {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.category-link {
    font-size: 20px;
    font-weight: 500;
    color: #71b4d4;
    text-transform: uppercase;
}

/* =========================================================================================================================================================================== */
/* ============================================================================== Statistic Card ============================================================================= */
/* =========================================================================================================================================================================== */

.statistic-card {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 52px;
    padding-right: 52px;
    width: 290px;
    height: 76px;
    border: 1px solid var(--glacier-blue);
    border-radius: 16px;
}

.statistic-icon {
    width: 42px;
    height: 46px;
}

.statistic-info {
    margin-left: 12px;
}

.statistic-title {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.statistic-subtitle {
    font-size: 15px;
    font-weight: 400;
    color: var(--steel-blue);
}

/* =========================================================================================================================================================================== */
/* =========================================================================== Statistic Small Card ========================================================================== */
/* =========================================================================================================================================================================== */

.statistic-small-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 53px;
    height: 20px;
    top: -7px;
    right: -4px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--glacier-blue);
}

.statistic-small-title {
    font-size: 12px;
    font-weight: 600;
    color: var(--polar-navy);
    text-transform: uppercase;
}

/* =========================================================================================================================================================================== */
/* =============================================================================== Streak Card =============================================================================== */
/* =========================================================================================================================================================================== */

.streak-card {
    position: relative;
    padding-right: 52px;
    padding-left: 52px;
    width: 290px;
    height: 76px;
    border-radius: 16px;
}

.streak-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 16px;
    background-color: var(--glacier-blue);
    z-index: 0;
}

.inactive-streak-card {
    filter: brightness(0.33);
}

.streak-content {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.streak-lightning {
    position: absolute;
    height: 100%;
    right: 0;
    z-index: 1;
}

.small-streak-star {
    position: absolute;
    width: 31px;
    height: 31px;
    bottom: 6px;
    left: 17px;
    z-index: 2;
}

.streak-star {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 5px;
    right: 11px;
    z-index: 2;
}

.streak-icon {
    width: 42px;
    height: 46px;
    z-index: 3;
}

.inactive-streak-icon {
    opacity: 33%;
}

.streak-info {
    margin-left: 12px;
    z-index: 2;
}

.streak-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--polar-navy);
}

.inactive-streak-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--glacier-blue);
}

.streak-subtitle {
    font-size: 15px;
    font-weight: 500;
    color: var(--polar-navy);
}

.inactive-streak-subtitle {
    font-size: 15px;
    font-weight: 500;
    color: var(--glacier-blue);
}

/* =========================================================================================================================================================================== */
/* =========================================================================== Profile Achievements ========================================================================== */
/* =========================================================================================================================================================================== */

.achievements,
.profile-achievements {
    display: flex;
    flex-direction: column;
    width: 598px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 28px;
    padding-right: 49px;
    gap: 27px;
    border: 1px solid var(--glacier-blue);
    border-radius: 16px;
}

.achievements {
    margin: 48px;
}

.achievements-title {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.profile-achievement {
    display: flex;
    width: 100%;
    gap: 20px;
}

.achievement-icon {
    min-width: 71px;
    width: 71px;
    height: 93px;
}

.achievement-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
    gap: 12px;
}

.achievement-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.achievement-title {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.achievement-progress-text {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.achievement-progress-bar {
    width: 100%;
    height: 9px;
    border-radius: 9px;
    background-color: white;
}

.achievement-progress {
    width: 30px;
    height: 100%;
    border-radius: 9px;
    background-color: var(--glacier-blue);
}

.achievement-description {
    font-size: 14px;
    font-weight: normal;
    color: var(--steel-blue);
}

/* =========================================================================================================================================================================== */
/* ============================================================================= Lesson Container ============================================================================ */
/* =========================================================================================================================================================================== */

.lesson-container {
    display: grid;
    /* grid-template-rows: 115px 1fr 225px; */
    width: 100%;
    height: 100%;
    justify-items: center;
}

.lesson-progress-container {
    display: flex;
    width: 80%;
    height: 31px;
    margin-top: 84px;
    align-items: center;
    justify-content: space-between;
}

.lesson-progress-bar-icon {
    width: 22px;
    height: 22px;
}

.lesson-progress-bar {
    width: 80%;
    height: 22px;
    border-radius: 22px;
    background-color: #466984;
}

.lesson-progress {
    width: auto;
    height: 100%;
    border-radius: 22px;
    background-color: var(--glacier-blue);
}

.heart-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.heart-icon {
    width: 32px;
    height: 32px;
}

.heart-value {
    font-size: 16px;
    font-weight: 700;
    color: #f44336;
}

.lesson-content {
    display: flex;
    width: 55%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exercise {
    display: flex;
    margin-top: 68px;
    gap: 0px 29px;
    flex-direction: column;
    align-items: center;
}

.exercise-title {
    font-size: 36px;
    font-weight: 700;
    color: white;
}

.question-title {
    font-size: 36px;
    margin-bottom: 68px;
    font-weight: 700;
    color: white;
}

.answers-row {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.answers-row > .answers-line {
    display: flex;
    gap: 44px;
    justify-content: center;
}

.answers-column > .answers-line {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions,
.answers-column {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-grow: 1;
    gap: 35px;
    flex-direction: column;
    justify-content: center;
}

.answer,
.question {
    display: flex;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 56px;
    padding-right: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 5px solid #374f62;
    background-color: var(--steel-blue);
    cursor: pointer;
}

.answer-selected,
.question-selected {
    display: flex;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 56px;
    padding-right: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 5px solid #085980;
    background-color: #71b4d4;
    cursor: pointer;
}

.right-answer-btn,
.right-question-btn {
    display: flex;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 56px;
    padding-right: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 5px solid #0e5e85;
    background-color: #0085c5;
}

.wrong-answer-btn,
.wrong-question-btn {
    display: flex;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 56px;
    padding-right: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 5px solid #0e5e85;
    background-color: #0085c5;
    background-color: #ff6b6b;
    border-color: #d14141;
    color: white;
}

.answer,
.answer-selected,
.right-answer-btn,
.wrong-answer-btn {
    text-wrap: nowrap;
}

.questions > .question,
.questions > .question-selected,
.questions > .right-question-btn,
.questions > .wrong-question-btn {
    width: 250px;
    height: 90px;
    font-size: 20px;
}

.answers-column > .answers-line {
    width: 250px;
    gap: 35px;
}

.answers-column > .answers-line > .answer,
.answers-column > .answers-line > .answer-selected,
.answers-column > .answers-line > .right-answer-btn,
.answers-column > .answers-line > .wrong-answer-btn {
    width: 250px;
    height: 90px;
    font-size: 20px;
}

.lesson-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid var(--steel-blue);
}

.verified-bar-color {
    background-color: #1b3964;
}

.result-content {
    display: flex;
    width: 21%;
    gap: 24px;
    align-items: center;
}

.result-icon-container {
    display: flex;
    min-width: 106px;
    min-height: 106px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.right-result-color {
    background-color: #6cb500;
}

.wrong-result-color {
    background-color: #ff4945;
}

.result-icon {
    width: 91px;
    height: 91px;
}

.result-title {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    color: white;
}

.result-explanation {
    width: 500px;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: white;
}

.report-btn {
    display: flex;
    margin-top: 16px;
    gap: 8px;
    align-items: center;
}

.report-btn__title {
    font-size: 24px;
    font-weight: 700;
    color: #0c264c;
}

.report-btn__icon {
    width: 30px;
    height: 30px;
}

.check-btn,
.continue-btn {
    border: none;
    border-bottom: 5px solid #0e73a4;
    border-radius: 15px;
    background-color: var(--glacier-blue);
    font-size: 32px;
    font-weight: 700;
    color: #273846;
    text-transform: uppercase;
    cursor: pointer;
}

.check-btn:disabled {
    border-bottom: 5px solid #3b566b;
    background-color: var(--steel-blue);
    color: #273846;
    cursor: auto;
}

.continue-btn-right-colors {
    background-color: #6cb500;
    border-bottom-color: #2f950a;
    color: var(--ice-white);
}

.continue-btn-wrong-colors {
    background-color: #ff4945;
    border-bottom-color: #950a28;
    color: var(--ice-white);
}

/* =========================================================================================================================================================================== */
/* ======================================================================== Lesson Complete Container ======================================================================== */
/* =========================================================================================================================================================================== */

.lesson-complete-title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lesson-complete-icon {
    width: 456px;
}

.lesson-complete-title {
    font-size: 48px;
    font-weight: 700;
    color: var(--frost-blue);
}

.summary-items {
    display: flex;
    margin-top: 64px;
    margin-bottom: 72px;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.summary-item {
    display: flex;
    flex-direction: column;
    width: 279px;
    height: 146px;
    padding: 8px;
    padding-bottom: 10px;
    border-radius: 20px;
    justify-content: space-between;
}

.totalxp-summary-color {
    background-color: var(--frost-blue);
}

.accuracy-summary-color {
    background-color: var(--mint);
}

.summary-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--polar-navy);
    text-transform: uppercase;
    text-align: center;
}

.summary-result-block {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--polar-navy);
}

.summary-result-icon {
    height: 58px;
    margin-right: 12px;
}

.summary-result-title {
    font-size: 36px;
    font-weight: 600;
}

.totalxp-result-title-color {
    color: #ffd500;
}

.accuracy-result-title-color {
    color: var(--mint);
}

.lesson-complete-btn-block {
    display: flex;
    margin-top: 72px;
    gap: 44px;
    align-items: center;
    justify-content: center;
}

.lesson-complete-btn {
    width: 280px;
    height: 76px;
    margin: 0;
    border: none;
    border-bottom: 7px solid #008269;
    border-radius: 15px;
    background-color: var(--mint);
    font-size: 24px;
    font-weight: 600;
    color: #0f2038;
    text-transform: uppercase;
    cursor: pointer;
}

.lesson-complete-btn:hover {
    border-bottom-width: 5px;
}

.lesson-complete-btn:active {
    border-bottom: 7px solid #2ee6c3;
    background-color: #008269;
    color: var(--ice-white);
}

/* =========================================================================================================================================================================== */
/* ========================================================================== Daily Quests Container ========================================================================= */
/* =========================================================================================================================================================================== */

.daily-quest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daily-quest-title {
    font-size: 48px;
    font-weight: 700;
    color: #fecb00;
}

.daily-quests {
    display: flex;
    flex-direction: column;
    width: 741px;
    margin-top: 64px;
    gap: 24px;
}

.daily-quest-card {
    display: flex;
    width: 100%;
    height: 130px;
    padding-top: 22px;
    padding-bottom: 17px;
    padding-left: 34px;
    padding-right: 74px;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #71b4d4;
    border-radius: 20px;
}

.daily-quest-card__img {
    width: 70px;
    height: 92px;
}

.daily-quest-card__progress-container {
    display: flex;
    /* margin-top: 12px; */
    /* margin-bottom: 17px; */
    align-items: center;
}

.daily-quest-card__progress-field {
    position: relative;
    width: 484px;
    height: 20px;
    --progress: 0%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #2f3b4d;
}

/* =========================================================================================================================================================================== */
/* ============================================================================= Reward Container ============================================================================ */
/* =========================================================================================================================================================================== */

.reward-container {
    display: flex;
    width: 724px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reward-icon {
    width: 326px;
    height: 300px;
    margin: 22px;
}

.reward-title {
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.reward-description {
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-align: center;
}

/* =========================================================================================================================================================================== */
/* ============================================================================ Leaderboards Page ============================================================================ */
/* =========================================================================================================================================================================== */

.locked-leaderboards {
    display: flex;
    flex-direction: column;
    /* margin-top: 85px; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.locked-leaderboards-title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locked-leaderboards-img {
    width: 346px;
    height: 215px;
}

.locked-leaderboards-title {
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.locked-leaderboards-description {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.locked-leaderboards-btn {
    margin-top: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 79px;
    padding-right: 79px;
    border: 2px solid #71b4d4;
    border-radius: 24px;
    box-shadow: 0 4px 0 0 #71b4d4;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.leaderboards-user-skeletons {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    width: 692px;
    gap: 24px;
}

.leaderboards-user-skeleton {
    --skeleton-background-color: #5c6b76;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.user-skeleton-info {
    display: flex;
    align-items: center;
}

.user-skeleton-top {
    width: 20px;
    height: 20px;
    margin-right: 31px;
    border-radius: 50%;
    background-color: var(--skeleton-background-color);
}

.user-skeleton-avatar {
    width: 60px;
    height: 60px;
    margin-right: 37px;
    border-radius: 50%;
}

.user-skeleton-nickname {
    height: 14px;
    border-radius: 14px;
    background-color: var(--skeleton-background-color);
}

.user-skeleton-totalxp {
    width: 62px;
    height: 14px;
    border-radius: 14px;
    background-color: var(--skeleton-background-color);
}

/* =========================================================================================================================================================================== */
/* ======================================================================== What Are Leaderboards Card ======================================================================= */
/* =========================================================================================================================================================================== */

.what-are-leaderboards-card {
    padding-bottom: 52px;
}

.what-are-leaderboards-card__title {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    color: #466984;
    text-transform: uppercase;
}

.what-are-leaderboards-card__short-description {
    width: 264px;
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    color: white;
}

.what-are-leaderboards-card__description {
    width: 312px;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: white;
}

.what-are-leaderboards-card__img {
    position: absolute;
    width: 133px;
    height: 156px;
    bottom: 27px;
    right: 20px;
}

/* =========================================================================================================================================================================== */
/* =============================================================================== Leaderboards ============================================================================== */
/* =========================================================================================================================================================================== */

.leaderboards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 75px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, transparent 75%, rgba(0, 0, 0, 0.4) 100%);
}

.leagues-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leagues-block {
    display: flex;
    margin: 24px;
    margin-top: 0px;
    gap: 11px;
    align-items: center;
    justify-content: center;
}

.current-league {
    width: 99px;
    height: 110px;
}

.locked-league {
    width: 66px;
    height: 78px;
}

.current-league-block {
    text-align: center;
}

.current-league-title {
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 700;
    color: var(--glacier-blue);
    line-height: normal;
}

.current-league-description {
    margin-bottom: 4px;
    font-size: 32px;
    font-weight: 400;
    color: var(--ice-white);
    line-height: normal;
}

.next-league-time-remaining {
    font-size: 32px;
    font-weight: 700;
    color: var(--glacier-blue);
    line-height: normal;
}

.users-block {
    display: flex;
    width: 692px;
    flex-direction: column;
    gap: 24px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-top-img {
    width: 26px;
    height: 35px;
    margin-right: 20px;
    object-fit: cover;
}

.user-top {
    width: 26px;
    margin-right: 22px;
    font-size: 24px;
    font-weight: 400;
    color: var(--glacier-blue);
    line-height: normal;
}

.user-avatar {
    --user-avatar-background: var(--glacier-blue);
    width: 60px;
    height: 60px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: var(--user-avatar-background);
}

.user-nickname {
    font-size: 20px;
    font-weight: 400;
    color: white;
    line-height: normal;
}

.user-totalxp {
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: normal;
}

/* =========================================================================================================================================================================== */
/* ============================================================================== Locked Quests ============================================================================== */
/* =========================================================================================================================================================================== */

.locked-quests {
    width: 741px;
    margin-top: 49px;
}

.welcome-quests-card {
    position: relative;
    width: 100%;
    padding: 44px;
    padding-top: 108px;
    padding-bottom: 57px;
    border-radius: 20px;
    background-color: var(--purple);
}

.welcome-quests-card__info {
    display: flex;
    width: 505px;
    gap: 24px;
    flex-direction: column;
}

.welcome-quests-card__title {
    font-size: 36px;
    font-weight: 700;
    color: var(--polar-navy);
    line-height: normal;
}

.welcome-quests-card__description {
    font-size: 24px;
    font-weight: 700;
    color: var(--polar-navy);
    line-height: normal;
}

.welcome-quests-card__img {
    position: absolute;
    width: 220px;
    height: 204px;
    bottom: 38px;
    right: 21px;
}

.daily-quests-container {
    margin-top: 40px;
}

.daily-quests-container__title-block {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.daily-quests-container__title {
    font-size: 32px;
    font-weight: 700;
    color: white;
    line-height: normal;
}

.daily-quests-time-remaining {
    display: flex;
    align-items: center;
    gap: 8px;
}

.daily-quests-time-remaining__icon {
    width: 22px;
    height: 22px;
}

.daily-quests-time-remaining__title {
    font-size: 20px;
    font-weight: 600;
    color: var(--orange);
    line-height: normal;
}

.daily-quests-block {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.locked-daily-quest-card {
    display: flex;
    width: 100%;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 34px;
    padding-right: 34px;
    gap: 44px;
    align-items: center;
    border-radius: 20px;
    border: 2px solid var(--ice-white);
    background-color: var(--glacier-blue);
}

.locked-daily-quest-card__icon {
    width: 45px;
    height: 57px;
}

.locked-daily-quest-card__title {
    font-size: 20px;
    font-weight: 600;
    color: #204453;
    line-height: normal;
}

.locked-monthly-badges-card {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    position: relative;
    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid var(--glacier-blue);
    border-radius: 29px;
}

.locked-monthly-badges-card__title {
    width: 249px;
    margin-bottom: 28px;
    font-size: 24px;
    font-weight: 600;
    color: var(--ice-white);
    line-height: normal;
}

.locked-monthly-badges-card__description {
    width: 270px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    color: var(--ice-white);
    font-weight: normal;
}

.locked-monthly-badges-card__img {
    position: absolute;
    width: 147px;
    height: 201px;
    top: 0;
    right: 0;
}

.locked-monthly-badges-btn {
    width: 320px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 39px;
    padding-right: 39px;
    align-self: center;
    border: 2px solid var(--glacier-blue);
    border-bottom-width: 6px;
    border-radius: 24px;
    background-color: var(--polar-navy);
    font-size: 20px;
    font-weight: 500;
    color: white;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}
