.page-containerr {
    margin: 100px 0 0 165px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.settings-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
}

.setting-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.setting-text {
    max-width: 640px;
}

.setting-title {
    font-size: 24px;
    font-weight: 700;
}

.setting-desc {
    font-size: 20px;
}